.editor {
    display: flex;
    gap: 0.75rem;
}

.editor__image {
    background-color: #eee;
    overflow: hidden;
    position: relative;
    background-color: black;
    flex: 1;
    display: grid;
    place-items: center;
    border-radius: var(--default-border-radius);
}

.editor__image img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.editor__rect {
    position: absolute;
    border: 2px solid #eee;
    transform: translate(-50%, -50%);
    cursor: move;
}

.editor__rect--active {
    border-color: var(--primary-default);
}

.editor__rect__handle {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    cursor: se-resize;
    background: red;
}

.editor__rects {
    width: 15rem;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.editor__rects__list {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    flex: 1;
    overflow-y: auto;
}

.rect {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    border: 2px solid #eee;
    border-radius: var(--default-border-radius);
    padding: 0.1rem;
}

.rect--active {
    border-color: var(--primary-default);
}

.rect__color {
    width: 1rem;
    height: 1rem;
    aspect-ratio: square;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #eee;
    border-radius: 10rem;
    cursor: pointer;
}

.rect__text {
    flex: 1;
    justify-content: flex-start;
}

.editor__rects__actions button {
    width: 100%;
}