@import url("./layout.css");
@import url("./no-project.css");

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --interactive: #eee;
    --interactive-hover: #e1e1e1;

    --foreground: #000;
    --foreground-dimmer: #555;

    --primary-dimmest: #dad7cdff;
    --primary-dimmer: #a3b18aff;
    --primary-default: #588157ff;
    --primary-stronger: #3a5a40ff;
    --primary-strongest: #344e41ff;

    --default-border-radius: 0.25rem;

    --layout-width: 72rem;
    --layout-width-sm: 50rem;
    --layout-padding: 2rem;
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: sans-serif;
}

input,
button,
.button {
    --size: 2rem;

    height: var(--size);
    padding: 0 0.875rem;
    border: none;
    outline: none;
    background-color: var(--interactive);
    font-size: 0.875rem;
    border-radius: var(--default-border-radius);
    white-space: nowrap;
    transition: background-color 100ms ease;
}

input:hover,
input:focus,
button:hover,
.button:hover {
    background-color: var(--interactive-hover);
}

input:disabled,
button:disabled,
.button:disabled {
    background-color: var(--interactive) !important;
    cursor: not-allowed;
}

button,
.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
    user-select: none;
}

button i,
.button i {
    font-size: 1rem;
}

.button--square {
    width: var(--size);
    padding: 0;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.section-text p {
    color: var(--foreground-dimmer);
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* modal component */
.modal-background {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    inset: 0;
    padding: var(--layout-padding);
}

.modal {
    background-color: white;
    margin: 0 auto;
    margin-top: 10rem;
    max-width: var(--layout-width-sm);
    border-radius: var(--default-border-radius);
    z-index: 50;
    padding: var(--layout-padding);
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__content {
    padding-top: 1rem;
}