@import url("./layout.css");
@import url("./no-project.css");

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --interactive: #eee;
    --interactive-hover: #e1e1e1;

    --foreground: #000;
    --foreground-dimmer: #555;

    --primary-dimmest: #dad7cdff;
    --primary-dimmer: #a3b18aff;
    --primary-default: #588157ff;
    --primary-stronger: #3a5a40ff;
    --primary-strongest: #344e41ff;
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

input,
button {
    --size: 2rem;

    height: var(--size);
    padding: 0 0.875rem;
    border: none;
    outline: none;
    background-color: var(--interactive);
    font-size: 0.875rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    transition: background-color 100ms ease;
}

input:hover,
input:focus,
button:hover {
    background-color: var(--interactive-hover);
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


button i {
    font-size: 1rem;
}

button.button--square {
    width: var(--size);
    padding: 0;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.section-text p {
    color: var(--foreground-dimmer);
}