.layout {
    padding: 0 2rem;
    max-width: 80rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.header__logo h1 {
    font-size: 1.5rem;
}

.header__actions {
    display: flex;
    gap: 0.5rem;
}

.header__actions .settings {
    width: var(--size);
    padding: 0;
}