.no-project,
.projects {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.no-project__text {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.no-project__form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.no-project__form input {
    width: 13rem;
    max-width: 100%;
}

.no-project button {
    width: fit-content;
}

.projects__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.projects__grid__item {
    justify-content: flex-start !important;
}

.projects__grid__item h1 {
    font-size: 0.875rem;
    font-weight: normal;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}